html {
    height: 100%;
}

body {
    /*background-color: red;*/
}

.title {
    text-align:center;
}

.sponsor {
    text-align: center;
    color: black;
    font-weight: bold;
}

.subscribe {
    text-align: center;
}

.image {
    max-width: 150px;
    border-radius: 100px; 
}

#sponsorname {
    background-color: white;
}

